*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
      
}
.my_img{
    background-image: url('../images/images\ \(4\).jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
   
}
nav .container{
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px
    
    
}
header .container .content{
    padding: 50px;
    max-width: 50%
}

#mind{
   padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
   
}



#health{
   padding: 15px;
}

nav div h1{
    font-size: 30px;
    color: green;
    font-size: bold;
}
#yoga{
    padding: 15px;
    font-size: 50px;
    color:green;
}

 a{
    display:inline-block;
    align-items:center;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(5, 88, 5);

    
}
.my_btn{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    display:flex;
    gap: 20px;
    
    
}

.btn1{
    background: green;
    color:white;
    padding: 10px 20px;
    border-radius: 20px;

}
.btn2{
    background: black;
    color:white;
    padding: 10px 20px;
    border-radius: 20px;

}


